# qrouter runtime script for project address_gen

verbose 1
read_lef  /usr/local/share/qflow/tech/osu035/osu035_stdcells.lef
catch {layers 4}
via stack all
vdd vdd
gnd gnd
obstruction -6.4 182.0 200.0 186.0 metal1
obstruction -6.4 -6.0 200.0 0.2 metal1
obstruction -6.4 -6.0 0.0 186.0 metal1
obstruction 195.2 -6.0 200.0 186.0 metal1
obstruction 0.0 182.0 195.2 186.0 metal3
obstruction 0.0 -6.0 195.2 0.2 metal3
obstruction -6.4 0.2 0.0 182.0 metal2
obstruction 195.2 0.2 200.0 182.0 metal2
obstruction -6.4 0.2 0.0 182.0 metal4
obstruction 195.2 0.2 200.0 182.0 metal4
read_def address_gen.def
qrouter::standard_route address_gen_route.def false
quit
